# Auto detect text files and perform LF normalization
* text=auto

*.addon  eol=crlf
*.txt  eol=crlf
*.lua  eol=crlf
*.toml  eol=crlf
*.xml  eol=crlf
*.md   eol=crlf

*.dds binary
*.DDS binary
*.png binary
*.ico binary
*.ttf binary
*.otf binary
*.slug binary